*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
  height: 50vh;
  width: auto;
  align-items: center !important;
  text-align: center !important;
}

body{
    display: flex  !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100vh;
    flex-direction: column;
    background-color: #FAFAFA;
}

/* #F9E1CD */

button{
    
    width: 3rem;
    height: 3rem;
    text-align: center;
    border: none;
    outline: none;
    background:#3398DA;
    color: white;
    border-radius: 50%;
    margin: 2px;
    font-weight: bolder;
  }
.blue{
  background-color: #2C3D50;
}
.orange{
  background-color: orange;
}

  button:hover{
    background-color: #2C3D50;
    box-shadow: 2px 2px 5px rgba(0, 0,0,0.5);
  }
  /* 2C3D50 */
.calculator{
   position: relative;
    height: 50vh;
    width: 24%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    align-content: flex-start !important;
}

.display{
    border:1px solid black; 
    border-radius: 5px;
    height: 5vh;
    text-align: right;
    font-size: 2rem;
    width: 23% !important; 
    margin: 0.3rem;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end !important;
    align-items: center !important;
}


.display{
   

    height: 5vh;
    font-size: 2rem;
    width: 15%;
    margin: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
